<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Asistencia</title>
    <!--<link rel="stylesheet" href="css/style1.css">-->
    <!--<link rel="stylesheet" href="css/style.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">


</head>
<body>
    <header>
        <h1>Registro de Asistencia</h1>
    </header>

    <main>
        <section>
            <h2>Seleccione Curso y Materia</h2>
            <form action="/control_asistencia" method="post">
                <!-- Listbox para elegir curso -->
                <div class="form-group">
                    <label for="curso">Elija Curso:</label>
                    <select id="curso" name="curso" required>
                        <option value="">Seleccione un curso</option>
                        <!-- Aquí se insertarán los cursos dinámicamente desde la base de datos -->
                        {% for curso in cursos %}
                        <option value="{{ curso.id_curso }}">{{ curso.nombre_curso }}</option>
                        {% endfor %}
                    
                    </select>
                    
                    
                    
                </div>

                <!-- Listbox para elegir materia -->
                <div class="form-group">
                    <label for="materia">Elija Materia:</label>
                    <select id="materia" name="materia" required>
                        <option value="">Seleccione una materia</option>
                        <!-- Aquí se insertarán las materias dinámicamente desde la base de datos -->
                        {% for materia in materias %}
                        <option value="{{ materia.id_materia }}">{{ materia.nombre_materia }}</option>
                        {% endfor %}
                    </select>    
                </div>

                <!-- Botón para realizar control de asistencia -->
                <div class="form-group">
                    <button type="submit">Realizar Control de Asistencia</button>
                    <!--<button type="submit" class="btn btn-primary">Realizar Control de Asistencia</button>-->
                </div>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Sistema de Control de Asistencia</p>
    </footer>
</body>
</html>
